#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:2px dashed rgb(38, 4, 243);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
